<% provide(:title, 'Lemonade Admin') %>
<div class="admin">
  <h1>Admin</h1>
  <div class="admin_div">
    <h3>Current Inventory</h3>
    <%= form_tag('/inventory', method: 'post') do %>
      <table class="inventory">
        <tr>
          <th>
            Item
          </th>
          <th>
            Amount
          </th>
        </tr>
        <tr>
          <td>
            Small Cups
          </td>
          <td>
            <%= number_field_tag :small, @admin.small_invent, class: 'admin_inventory' %>
          </td>
        </tr>
        <tr>
          <td>
            Large Cups
          </td>
          <td>
            <%= number_field_tag :large, @admin.large_invent, class: 'admin_inventory' %>
          </td>
        </tr>
        <tr>
          <td>
            Small hot cups
          </td>
          <td>
            <%= number_field_tag :hot_small, @admin.hot_small_invent, class: 'admin_inventory' %>
          </td>
        </tr>
        <tr>
          <td>
            Medium Hot Cups
          </td>
          <td>
            <%= number_field_tag :hot_medium, @admin.hot_medium_invent, class: 'admin_inventory' %>
          </td>
        </tr>
        <tr>
          <td>
            Water Bottles
          </td>
          <td>
            <%= number_field_tag :bottle, @admin.bottles_invent, class: 'admin_inventory' %>
          </td>
        </tr>
      </table>

      <%= submit_tag "Update Inventory" %>


    <% end %>


  </div>
  <div class="admin_div">
    <h3>View Ledgers</h3>
      Last 10 ledgers:
      <ul>
        <% @ledgers.each do |ledger| %>
          <li>
            <%= link_to day_display(ledger), ledger %> <%= ledger.closed? ? '(closed)' : '(open)' %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'View All Ledgers', days_path %>
  </div>
  <div class="admin_div">
    <h3>Update Checklists</h3>
    <%= form_tag('/checklists', method: 'post') do %>
      <h4>Farmers AM Checklist</h4>
        <%= text_area_tag :farmers_am, @admin.farmers_am.join('; ')  %>
      <h4>Farmers PM Checklist</h4>
        <%= text_area_tag :farmers_pm, @admin.farmers_pm.join('; ')  %>
      <h4>City AM Checklist</h4>
        <%= text_area_tag :city_am, @admin.city_am.join('; ')  %>
      <h4>City PM Checklist</h4>
        <%= text_area_tag :city_pm, @admin.city_pm.join('; ')  %>
        <%= submit_tag "Update checklists" %>


    <% end %>


  </div>
  <div class="admin_div">
    <h3>Update Items</h3>
    <ul>
      <% @items.each do |item| %>
        <li>
          <%= link_to item.name, edit_item_path(item) %>
          <%= link_to "Delete Item", delete_item_path(item), method: :delete, class: 'float_right' %>
        </li>
      <% end %>
      <li>
        <%= link_to "New Item", new_item_path %>
      </li>
    </ul>
    <%= link_to "View Properties of All Items", items_path %>
  </div>
  <div class="admin_div">
    <h3>Update Employees</h3>
    <%= form_tag('/employees', method: 'post') do %>
      <div class="form_field">
        Click to remove employee:
        <% @admin.employees.each do |employee| %>
          <div class="checkbox">
            <%= check_box_tag('employees[]', employee, nil, {multiple: true, id: employee}) %>
            <label for="<%= employee %>"> <%= employee %> </label>
          </div>
        <% end %>
      </div>
      <div >
          <label for="employee">New Employee:</label>
        <%= text_field_tag "employee", nil, { class: 'form_field'} %>
      </div>
        <%= submit_tag "Update Employee List" %>
    <% end %>
  </div>
  <div class="admin_div">
    <h3>Update Locations</h3>
    <%= form_tag('/locations', method: 'post') do %>
      <div class="form_field">
        Click to remove location:
        <% @admin.locations.each do |location| %>
          <div class="checkbox">
            <%= check_box_tag('locations[]', location, nil, {multiple: true, id: location}) %>
            <label for="<%= location %>"> <%= location %> </label>
          </div>
        <% end %>
      </div>
      <div >
          <label for="location">New Location:</label>
        <%= text_field_tag "location", nil, { class: 'form_field'} %>
      </div>
        <%= submit_tag "Update Location List" %>
    <% end %>
  </div>
  <div class="admin_div">
    <h3>Update Admin Password</h3>
    <%= form_tag('/update_admin', method: 'post') do |f| %>
    <div>
      <%= label_tag :current_password %>
      <span >  <%= password_field_tag :current_password %>
      </span>

    </div>
    <div>
      <%= label_tag :new_password %>
      <span ><%= password_field_tag :new_password %>
      </span>

    </div>
    <div>
      <%= label_tag :new_password_confirmation %>
      <span ><%= password_field_tag :new_password_confirmation %></span>
    </div>
    <div>
      <%= submit_tag 'Update Password'  %>
    </div>
    <% end %>
    <p>
      <em>Note: Once you update password, all devices currently in use will have to re-authenticated.</em>
    </p>

  </div>

</div>










<%= button_to "Log Out Admin", admin_logout_path,  method: :get, class: 'home_button' %>
