<h1><%= @day.created_at.strftime("%m/%d").to_s + " " +  @day.location %> has been closed</h1>

<%= link_to 'click for summary', day_url(@day) %>

<table class="summary_table">
  <tr>
    <td>
      Transactions
    </td>
    <td>
      <%= @day.sales.count %>
    </td>
  </tr>
  <tr>
    <td>
      Total Sales
    </td>
    <td>
      $<%= '%.2f' % (@day.sales.collect {|sale| sale.price }.reduce(:+)).round(2)%>
    </td>
  </tr>
  <tr>
    <td>
      Cash Start
    </td>
    <td>
      $<%= @day.cash_start %>
    </td>
  </tr>
  <tr>
    <td>
      Cash End
    </td>
    <td>
      $<%= @day.closed? ? @day.cash_end : ' n/a' %>
    </td>
  </tr>
  <tr>
    <td>
      Total Cash collected
    </td>
    <td>
      $<%= '%.2f' % (@day.cash_end - @day.cash_start).round(2) %>
    </td>
  </tr>
  <tr>
    <td>
      Discrepancy
    </td>
    <td>
      $<%= '%.2f' % (@day.cash_end - @day.cash_start - (@day.sales.collect {|sale| sale.price }.reduce(:+))).round(2) %>
    </td>
  </tr>

</table>

<p>
  Notes:
</p>
<ul>
  <% @day.notes.each do |note| %>
    <li>
      <%= note %>
    </li>
  <% end %>
</ul>
