<% provide(:title, "New Day") %>
<h1>Admin edit start counts for <%= day_display(@day) %></h1>

<%= form_for(@day) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form_field">
    <label for="day_cash_start">Starting cash:</label>
    <%= f.number_field :cash_start, value: number_to_currency(f.object.cash_start.to_f, delimiter: '', unit: ''), step: 0.01 %>
  </div>

  <div class="form_field">
    <label for="day_large_start">Starting large cups:</label>
    <%= f.number_field :large_start %>
  </div>

  <div class="form_field">
    <%= f.number_field :small_start %>
    <label for="day_small_start">Starting small cups:</label>
  </div>

  <div class="form_field">
    <%= f.number_field :bottle_start %>
    <label for="day_bottle_start">Starting water bottles:</label>
  </div>

  <div class="form_field">
    <%= f.number_field :hot_medium_start %>
    <label for="day_hot_medium_start">Starting med. hot cups:</label>
  </div>

  <div class="form_field">
    <%= f.number_field :hot_small_start %>
    <label for="day_hot_small_start">Starting small hot cups:</label>
  </div>

  <%= f.submit "Update" %>
<% end %>
