<% provide(:title, "Summary #{day_display(@day)}") %>

<h1>Summary for <%= day_display(@day) %></h1>

<% if @day.closed? %>
<h3>This ledger has been closed</h3>
<% else %>
<p>
  <strong>This ledger is still open.</strong>
</p>
<% end %>

<p>
  Employees:
  <%= @day.employees.join(',') %>

</p>


<table class="summary_table">
  <tr>
    <td>
      Transactions
    </td>
    <td>
      <%= @day.sales.count %>
    </td>
  </tr>
  <tr>
    <td>
      Total Sales
    </td>
    <td>
      $<%= total_sales(@day) %>
    </td>
  </tr>
  <tr>
    <td>
      Cash Start
    </td>
    <td>
      $<%= @day.cash_start %>
    </td>
  </tr>
  <tr>
    <td>
      Cash End
    </td>
    <td>
      $<%= @day.closed? ? @day.cash_end : ' n/a' %>
    </td>
  </tr>
  <tr>
    <td>
      Total Cash collected
    </td>
    <td>
      $<%= @day.closed? ? cash_received(@day) : ' n/a' %>
    </td>
  </tr>
  <tr>
    <td>
      Discrepancy
    </td>
    <td>
      $<%= @day.closed? ? cash_discrepancy(@day) : ' n/a' %>
    </td>
  </tr>

</table>

<table class="summary_table">
  <tr>
    <th>
      Item
    </th>
    <th>
      No. Sold
    </th>
  </tr>
  <% @item_sales.sort_by{ |k, v| k }.to_h.each do |item| %>
    <tr>
      <td>
        <%= item[0] %>
      </td>
      <td>
        <%= item[1] %>
      </td>
    </tr>
  <% end %>


</table>



<table class="summary_table">
  <tr>
    <th>
      Inventory Item
    </th>
    <th>
      Start Count
    </th>
    <th>
      Restock
    </th>
    <th>
      End Count
    </th>
    <th>
      Sold
    </th>
    <th>
      Discrepancy
    </th>
  </tr>
  <tr>
    <td>
      Small Cups
    </td>
    <td>
      <%= @day.small_start %>
    </td>
    <td>
      <%= @day.small_restock %>
    </td>
    <td>
      <%= @day.closed? ? @day.small_end : 'n/a' %>
    </td>
    <td>
      <%= inventory_used(@day, 'small') %>
    </td>
    <td>
      <%= inventory_discrepancy(@day, 'small') %>
    </td>
  </tr>
  <tr>
    <td>
      Large Cups
    </td>
    <td>
      <%= @day.large_start %>
    </td>
    <td>
      <%= @day.large_restock %>
    </td>
    <td>
      <%= @day.closed? ? @day.large_end : 'n/a' %>
    </td>
    <td>
      <%= inventory_used(@day, 'large') %>
    </td>
    <td>
      <%= inventory_discrepancy(@day, 'large') %>
    </td>
  </tr>
  <tr>
    <td>
      Water Bottles
    </td>
    <td>
      <%= @day.bottle_start %>
    </td>
    <td>
      <%= @day.bottle_restock %>
    </td>
    <td>
      <%= @day.closed? ? @day.bottle_end : 'n/a' %>
    </td>
    <td>
      <%= inventory_used(@day, 'bottle') %>
    </td>
    <td>
      <%= inventory_discrepancy(@day, 'bottle') %>
    </td>
  </tr>
  <tr>
    <td>
      Small Hot Cups
    </td>
    <td>
      <%= @day.hot_small_start %>
    </td>
    <td>
      <%= @day.hot_small_restock %>
    </td>
    <td>
      <%= @day.closed? ? @day.hot_small_end : 'n/a' %>
    </td>
    <td>
      <%= inventory_used(@day, 'hot_small') %>
    </td>
    <td>
      <%= inventory_discrepancy(@day, 'hot_small') %>
    </td>
  </tr>
  <tr>
    <td>
      Medium Hot Cups
    </td>
    <td>
      <%= @day.hot_medium_start %>
    </td>
    <td>
      <%= @day.hot_medium_restock %>
    </td>
    <td>
      <%= @day.closed? ? @day.hot_medium_end : 'n/a' %>
    </td>
    <td>
      <%= inventory_used(@day, 'hot_medium') %>
    </td>
    <td>
      <%= inventory_discrepancy(@day, 'hot_medium') %>
    </td>
  </tr>
</table>

<div class="summary_sales">
  <h2>All Sales</h2>
  <ul>
    <% count = 1 %>
    <% @day.sales.each do |sale| %>
      <li>
        <%= count.ordinalize %> sale:
          <ul>
            <li>
              $<%= '%.2f' % sale.price %>
            </li>
            <li class="small_text">
              <%= sale.items.join(',') %>
            </li>
          </ul>
        <% count += 1 %>
      </li>
    <% end %>
  </ul>
</div>
