<% provide(:title, "Update #{@item.name}") %>

<h1>Update Item: "<%= @item.name %>"</h1>

<%= form_for(@item) do |f| %>

<div class="item_form_field">
  <%= f.label :name %>
  <span class="float_right"><%= f.text_field :name %></span>

</div>

<div class="item_form_field">
  <%= f.label :cup_type %>
  <span class="float_right">  <%= f.select :cup_type, options_for_select(Item::Cup_types, @item.cup_type) %></span>

  </div>

<div class="item_form_field">
  <%= f.label :drink_type %>
  <span class="float_right"><%= f.select :drink_type, options_for_select(Item::Drink_types, @item.drink_type) %></span>

</div>

<div class="item_form_field">
  <%= f.label :price %>
  <span class="float_right">  <%= f.number_field :price, in: 0.0..20.0, step: 0.25 %></span>

</div>

<div class="item_form_field">
  <%= f.label :vendor_price %>
  <span class="float_right">  <%= f.number_field :vendor_price, in: 0.0..20.0, step: 0.25 %></span>

</div>

<div class="item_form_field">
  <%= f.label :active %>
  <%= f.check_box :active %>
</div>

<div class="item_form_field">
  <%= f.submit 'Update Item Properties' %>
</div>

<% end %>

<p>
  <em>Note: 'Drink type' is used to determine the color of the button for that item on the sale page
  </em>
</p>
<p>
  <em>Note: Items that are not 'active' will not show up on the new sale page.
  </em>
</p>
<%= button_to "Back to Admin Page", '/admin', method: :get, class: 'home_button' %>
