<% provide(:title, "#{(@day.sales.count + 1).ordinalize} Sale for #{day_display(@day)}") %>



<h1><%= (@day.sales.count + 1).ordinalize %> Sale for <%= day_display(@day) %></h1>
<div>

  <strong>Previous Sale:</strong> <%= sale_time(@last_sale.updated_at.strftime('%l:%M %P'))  %> <%= number_to_currency(@last_sale.price) %>: <%= @last_sale.items.join(', ') %>

</div>

<div class="items">
  <% @items.each do |item| %>
  <div class="item_div <%= item.drink_type %>">
    <h4><%= item.name %></h4>
    <button class="item_button add_item" data-price="<%= item.price %>" data-cup="<%= item.cup_type.sub(' ', '_') %>" data-name="<%= item.name %>" data-vendor_price="<%= item.vendor_price%>" data-action="add">+</button>
    <button class="item_button remove_item" id="<%= item.name %>" data-price="<%= item.price %>" data-cup="<%= item.cup_type.sub(' ', '_') %>" data-name="<%= item.name %>" data-vendor_price="<%= item.vendor_price%>" data-action="remove">-</button>
  </div>
  <% end %>
</div>


<div class="permanent_items item_div item_div__misc permanent">
  <h4>Misc. Item</h4>
  <button class="perm_item_button misc_item_button add_item misc_item"  data-action="add">+</button>
  <button class="perm_item_button misc_item_button remove_item misc_item"  data-action="remove">-</button>
  <label for="misc_item_name">Name:</label>
  <input id="misc_item_name" type="text"  />
  <label for="misc_item_price">Price:</label>
  $<input id="misc_item_price" type="number" step="0.01" value=0 />
  <label for="misc_item_cup_type">Cup Type:</label>
  <%= select_tag(:misc_item_cup_type, options_for_select(Item::Cup_types.collect{ |type| type.sub('_',' ').titleize }),
    {:include_blank => true }) %>
</div>
<div class="permanent_items item_div permanent vendor_div">
  <h4>Vendor price</h4>

</div>

<div class="permanent_items clear_all_div">
  <div class="item_div permanent">
    <h4>Clear all items</h4>
    <button class="perm_item_button remove_item clear_all" id="clear_all" data-action="remove">-</button>
  </div>
</div>

<div class="freebie_div item_div permanent">
  <h4>Freebie</h4>
</div>

<div class="permanent_items item_div item_div__multi permanent">
  <h4>Multiple Items</h4>
  <button class="perm_item_button multi_item_button add_item misc_item"  data-action="add">+</button>
  <button class="perm_item_button multi_item_button remove_item clear_all" id="clear_all" data-action="remove">-</button>
  <%= select_tag(:multi_item_name, options_for_select(@items.map { |item| item.name }))%>
  <%= select_tag(:multi_item_number, options_for_select((1..60).to_a)) %>
</div>

<%= form_for(@sale) do |f| %>
<%= f.hidden_field :price, class: 'sale_cups' %>
<%= f.hidden_field :large, value: '0', class: 'sale_cups'  %>
<%= f.hidden_field :small, value: '0', class: 'sale_cups'  %>
<%= f.hidden_field :bottle, value: '0', class: 'sale_cups'  %>
<%= f.hidden_field :hot_small, value: '0', class: 'sale_cups'  %>
<%= f.hidden_field :hot_medium, value: '0', class: 'sale_cups'  %>
<%= hidden_field_tag :items %>

<div class="totals">
  <table class="sale_items">

  </table>
  <div class="total">
    <strong>Total:</strong>
    <span id="price_sum" class="float_right">0.00</span>
  </div>
  <div class="total">
    <strong>Cash:</strong>
    <span class="float_right"><input id="cash_tendered" type="number" step="0.01" /></span>
  </div>
  <div class="total">
    <strong>Change:</strong>
    <span id="sale_change" class="float_right">0</span>
  </div>
  <%= f.submit 'Complete Sale', id: 'sale_submit' %>
  <% end %>

</div>









<%= javascript_include_tag 'new_sale' %>
