<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    'custom' %>
    <%= javascript_include_tag  'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <%= button_to "Home", root_path, method: :get, id: 'header_button' %>
    <% if @day && @day.id && !@day.closed && !(yield(:header_button) == 'no')%>
      <%= button_to "Back to ledger options", day_path(@day), method: :get, class: 'back_ledger', id: 'back_ledger' %>
    <% end %>
    <% if current_day %>
      <span class="header_authentication">Logged in for <%= day_display(current_day) %></span>
    <% end %>
  </header>
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="content_container">
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
