<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    'custom' %>
    <%= javascript_include_tag   %>
  </head>
  <header class="header">
    <%= button_to "Home", root_path, method: :get, id: 'header_button' %>
    <% if session[:admin] == Admin.first.password_digest %>
      <%= button_to "Admin Page", '/admin',  method: :get %>
      <%= button_to "Log Out Admin", admin_logout_path,  method: :get %>
    <% end %>
    <% if current_day && !(yield(:header_button) == 'no') %>
      <%= button_to day_display(current_day), current_day, method: :get, id: 'back_ledger' %>
    <% end %>
  </header>
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="content_container">
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
